.header {
    width: 100%;
    height: 50px;
    background-color: #222;
    padding: 0;
    margin: 0;
    position: fixed;
}

.header span {
    float: left;
    color: #fff;
    margin: 13px;
}

.header input {
    float: right;
    margin: 13px;
    border-radius: .25rem;
}

.characters-list {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 3px;
    background-color: black;
    padding: 10px;
    margin: 50px 10px 10px 10px;
}