<div class="header">
    <span> R&M </span>
    <form [formGroup]="form">    
        <input formControlName="query" type="text" placeholder="Character Name" />
        <!-- <input type="text" (input)="findCharacters($event)" placeholder="Character Name" /> -->
        <!-- <input type="text" [(ngModel)]="textValue" (ngmodelchange)="findCharacters()" placeholder="Character Name" /> -->
    </form>
  </div>
<div class="characters-list" *ngIf="characters && ((loading$ | async) === false)">
    <ng-container *ngFor="let character of characters.results">
        <app-character-card [character]="character"></app-character-card>
    </ng-container>
    <ng-container *ngIf="loading$ | async">
        <img src="../../../assets/pickle_rick.gif" alt="loading...">
    </ng-container>
</div>
